@media (max-width: 1100px) {
    .product {
        width: 30%;
    }

    .product-name{
        font-size: 1.8vw;
    }
    
    .product-price{
        font-size: 1.5vw;
    }
}

/* Mobile styles */
@media (max-width: 767px) {

    .container {
        display: grid;
        grid-template-columns: auto max-content;
        margin: 5px 10px 5px 8%;
        gap: 10px;
    }

    .logo img {
        height: 50px;
        max-width: 150px;
    }

    /*.nav-logo, .nav-category, .nav-right {
        width: 100%;
    }*/

    .nav-logo {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .nav-category {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        font-size: 26px;
        text-align: left;
    }

    .nav-right {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .nav-r-ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-r-ul li {
        margin: 0 10px;
    }

    .nav-r-cart a {
        display: flex;
        align-items: center;
    }

    #cart-count {
        margin-left: 5px;
    }

    .product {
        width: 47%;
    }

    .product-name{
        font-size: max(2.4vw, 8px);
    }
    
    .product-price{
        font-size: 2.1vw;
    }

    .left-column {
        width: 25%;
    }
    
    .right-column {
        width: 75%;
    }

    .category-button {
        font-size: min(3.1vw, 16px);
    }
    
}